{% extends "cabezal.html" %}
{% block cargar_static %}
    {% load static %}
{% endblock %}
{% block css_archivos %}
    <style>
        /* Estilo del botón flotante */
        .btn-flotante {
            position: fixed;
            bottom: 20px;
            left: 20px;
            width: 60px;
            height: 60px;
            background-color: #28a745; /* Verde */
            color: #fff;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            text-decoration: none;
            z-index: 1000;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .btn-flotante:hover {
            background-color: #218838; /* Verde más oscuro */
            transform: scale(1.1); /* Aumentar ligeramente */
        }

        /* Ajuste para pantallas más pequeñas */
        @media (max-width: 768px) {
            .btn-flotante {
                width: 50px;
                height: 50px;
                font-size: 25px;
            }
        }
    </style>
    {% comment %}
    CSS del boton del wssp
    {% endcomment %}
    <style>
        .btn-wsp {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 25px;
            right: 25px;
            background: #fff;
            color: #FFF;
            border-radius: 50%;
            text-align: center;
            font-size: 35px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            z-index: 100;
            transition: all 300ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-wsp:hover {
            background: #d0ffd9;
        }

        .btn-wsp img {
            width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
            height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
            object-fit: cover; /* Ajusta la imagen para llenar completamente el contenedor sin distorsionar */
            border-radius: 50%; /* Mantiene el borde redondeado de la imagen */
        }

        @media only screen and (min-width: 320px) and (max-width: 768px) {
            .btn-wsp {
                width: 63px;
                height: 63px;
            }

            .btn-wsp img {
                width: 100%; /* Ajusta el tamaño para que llene el nuevo tamaño del botón */
                height: 100%; /* Ajusta el tamaño para que llene el nuevo tamaño del botón */
            }
        }

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webapp/css/styles_administrador_tablas.css' %}"/>

{% endblock %}

{% block contenido_pagina %}
    <div class="table-container mt-5">
        <h2>Gestión de Categorías de Libros</h2>
        <div class="table-responsive mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.libxcatCodigo }}</td>
                        <td>{{ categoria.libxcatNombre }}</td>
                        <td>{{ categoria.get_libxcatStatus_display }}</td>
                        <td>
                            <div class="action-buttons">
                                <a href="{% url 'editar_categoria_libros' categoria.libxcatCodigo %}"
                                   class="btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'eliminar_categoria_libros' categoria.libxcatCodigo %}"
                                   class="btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'crear_categoria_libros' %}" class="btn-flotante" title="Agregar Categoría">+</a>
{% endblock %}
