{% extends "cabezal.html" %}
{% block cargar_static %}
    {% load static %}
{% endblock %}
{% block titulo_pagina %}
    <title>Cafetería StandFree</title>
{% endblock %}
{% block css_archivos %}
    <style>
        .hr-container {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hr-container::before {
            content: '• • • • •';
            font-size: 50px;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c683a", endColorstr="#3d2222", GradientType=1);
            margin-right: 20px; /* Espaciado entre los puntos y la línea */
        }

        hr {
            border: 0;
            width: 100%;
            height: 1px;
            background-color: #bada55;
            margin: 0;
        }

        .btn-wsp {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 25px;
            right: 25px;
            background: #fff;
            color: #FFF;
            border-radius: 50%;
            text-align: center;
            font-size: 35px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            z-index: 100;
            transition: all 300ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-wsp:hover {
            background: #d0ffd9;
        }

        .btn-wsp img {
            width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
            height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
            object-fit: cover; /* Ajusta la imagen para llenar completamente el contenedor sin distorsionar */
            border-radius: 50%; /* Mantiene el borde redondeado de la imagen */
        }

        @media only screen and (min-width: 320px) and (max-width: 768px) {
            .btn-wsp {
                width: 63px;
                height: 63px;
            }

            .btn-wsp img {
                width: 100%; /* Ajusta el tamaño para que llene el nuevo tamaño del botón */
                height: 100%; /* Ajusta el tamaño para que llene el nuevo tamaño del botón */
            }
        }

    </style>
{% endblock %}
{% block sobreescribir_jvscript_archivos %}
{% endblock %}
{% block contenido_pagina %}
    <!-- Sección de Bienvenida -->
    <section class="hscero">
        <!-- Video de bienvenida -->
        <video
                src="{{ media_url }}videos/Cafe_Video.mp4"
                autoplay
                loop
                muted
                playsinline
                class="video-inicio"
                style="width: 100%; max-height: 500px; object-fit: cover; border-radius: 8px;">
        </video>
        <p>
            Bienvenido a nuestra cafetería-librería, un espacio donde los libros y el café se combinan para brindarte un
            servicio de calidad y acogedor.
        </p>
    </section>
    <div class="hr-container"></div>
    <section class="content_h1">
        <span id="services-title" style="
            font-size: 6vw;
            background: -webkit-linear-gradient(#b5940f, #ffd6b5);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
              font-family: 'Dancing Script', cursive;

        ">
            Nuestros servicios
        </span>
    </section>
    <section class="content">
        <div class="card">
            <img
                    src="{% static 'webapp/images/index/index_imagen_libros.png' %}"
                    alt="Imagen de Libros"
                    onclick="openModal(); currentSlide(2)"
            />
            <p>
                Explora nuestra extensa colección de libros mientras disfrutas de tu café favorito.
            </p>
            <a href="{% url 'index_libros' %}">
                <div id="btn-ver-mas-libros" class="boton">Ver más</div>
            </a>
        </div>
        <div class="card">
            <img
                    src="{% static 'webapp/images/index/index_imagen_cafe.png' %}"
                    alt="Imagen de Café"
                    onclick="openModal(); currentSlide(3)"
            />
            <p>
                Nuestra carta ofrece una selección especial de cafés de alta calidad y snacks deliciosos.
            </p>
            <a href="{% url 'index_cartas' %}">
                <div id="btn-ver-mas-cafe" class="boton">Ver más</div>
            </a>
        </div>
    </section>
    <div class="hr-container"></div>

    <section class="vision_hero">
        <!-- ¿Quiénes somos? -->
        <div class="vision_quienes_somos">
            <p class="vision_p_hero">
                <span class="vision_h3_span">¿Quiénes somos?</span>
                En StandFree, creemos en la magia de la conexión entre la literatura y el café. Fundada en 2024,
                nuestra misión es ofrecer un espacio donde las personas puedan disfrutar de una buena lectura
                acompañada de una taza de café cuidadosamente seleccionada.
                <br><br>
                Nuestra cafetería-librería es un lugar para relajarse, aprender y compartir. Contamos con una amplia
                colección de libros que abarca desde clásicos literarios hasta los últimos lanzamientos, y nuestra
                carta de cafés incluye una variedad de sabores y métodos de preparación que harán que cada visita sea
                única.
                <br><br>
                Más que un local, somos una comunidad de amantes de la literatura y el café, comprometidos a crear
                experiencias memorables y a promover el hábito de la lectura. Ya sea que busques un lugar para estudiar,
                reunirte con amigos o simplemente relajarte, StandFree es tu rincón perfecto en la ciudad.
            </p>
        </div>

        <!-- Contenedor de Misión y Visión -->
        <div class="vision_contenedor_dos_columnas">
            <!-- Visión -->
            <div class="vision_columna">
                <p class="vision_p_hero">
                    <span class="vision_h3_span">Visión</span>
                    Ser reconocidos como un referente cultural y gastronómico en la ciudad, un lugar donde el amor por
                    los libros y el café crea una comunidad de personas apasionadas por el conocimiento y las buenas
                    experiencias.
                </p>
            </div>
            <!-- Misión -->
            <div class="vision_columna">
                <p class="vision_p_hero">
                    <span class="vision_h3_span">Misión</span>
                    Brindar un espacio acogedor donde la literatura y el café se fusionan para ofrecer una experiencia
                    única. Promovemos la cultura y el aprendizaje en un ambiente relajado, donde cada visitante se
                    siente
                    en casa.
                </p>
            </div>
        </div>
    </section>

    <!-- Modal de Imágenes -->
    <div id="imageModal-standfree" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div style="justify-content: center; align-items: center;">
            <div class="modal-content">
                <div class="mySlides">
                    <div class="numbertext">1 / 3</div>
                    <video src="{% static 'webapp/videos/Cafe_Video.mp4' %}" autoplay
                           loop
                           muted
                           playsinline
                           class="video-inicio" style="width:100%"></video>
                </div>
                <div class="mySlides">
                    <div class="numbertext">2 / 3</div>
                    <img src="{% static 'webapp/images/index/index_imagen_libros.png' %}" style="width:100%">
                </div>
                <div class="mySlides">
                    <div class="numbertext">3 / 3</div>
                    <img src="{% static 'webapp/images/index/index_imagen_cafe.png' %}" style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="thumbnail-container">
                <img src="{% static 'webapp/images/index/index_imagen_inicio.png' %}" onclick="currentSlide(1)"
                     alt="Inicio">
                <img src="{% static 'webapp/images/index/index_imagen_libros.png' %}" onclick="currentSlide(2)"
                     alt="Libros">
                <img src="{% static 'webapp/images/index/index_imagen_cafe.png' %}" onclick="currentSlide(3)"
                     alt="Café">
            </div>
        </div>

    </div>
    <footer>
        <p>© 2024 BibliotecaStand - Todos los derechos reservados</p>
    </footer>

{% endblock %}
{% block jvscript_archivos_defer %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const carritoTexto = document.querySelector(".carrito-texto");
            const carritoIcono = document.querySelector(".carrito-icono");

            function actualizarCarrito() {
                const anchoVentana = window.innerWidth;

                if (anchoVentana <= 550) {
                    carritoTexto.style.display = "none"; // Ocultar texto en pantallas muy pequeñas
                    carritoIcono.style.display = "flex"; // Mostrar ícono
                } else if (anchoVentana > 550 && anchoVentana <= 992) {
                    carritoTexto.style.display = "inline-block"; // Mostrar texto en pantallas medianas
                    carritoIcono.style.display = "none"; // Ocultar ícono
                } else {
                    carritoTexto.style.display = "inline-block"; // Mostrar texto en pantallas grandes
                    carritoIcono.style.display = "none"; // Ocultar ícono
                }
            }

            // Ejecutar al cargar la página
            actualizarCarrito();

            // Ejecutar al redimensionar la ventana
            window.addEventListener("resize", actualizarCarrito);
        });
    </script>
    <script src="{% static 'webapp/js/main.js' %}"></script>
    <script src="{% static 'webapp/js/modal.js' %}"></script>
{% endblock %}
